@model LouBuzReview.Models.WebUser

@{
    ViewBag.Title = "User Details";
}

<h2>Details</h2>

<div>
    @Html.Partial("_WebUserDetails")
</div>

<div class="form-actions no-color">
    <a href="@Url.Action("Edit", new { id = Model.UserID })" class="btn btn-success" title="Edit this record"><span class="glyphicon"></span>Edit</a>
    <a href="@Url.Action("Index")" class="btn btn-warning" title="Cancel and go back to previous screen"><span class="glyphicon"></span>Cancel</a>
</div>

