
<div class="main-header">
    <div class="container header-title ">
        <h1 class="header-title">LouBuzReview</h1>
        <h3 class="col-md-6">
            Louisville Business Review is public website for rating the businesses in Louisville 
            and their services by anyone. It is free and use this service to rate any business located in Louisville.
        </h3>
    </div>
</div>
